<aside class="sidebar">


  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active-link">
          <span class="icon material-symbols-outlined" aria-hidden="true">dashboard</span>
          <span class="link-text">Tableau de bord</span>
        </a>
      </li>
      <li>
        <a routerLink="/gestion-utilisateurs" routerLinkActive="active-link">
          <span class="icon material-symbols-outlined" aria-hidden="true">groups</span>
          <span class="link-text">Utilisateurs</span>
        </a>
      </li>
         <li>
        <a routerLink="/projets" routerLinkActive="active-link">
          <span class="icon material-symbols-outlined" aria-hidden="true">folder</span>
          <span class="link-text">Projets</span>
        </a>
      </li>
      <li>
        <a routerLink="/gestion-taches" routerLinkActive="active-link">
          <span class="icon material-symbols-outlined" aria-hidden="true">assignment</span>
          <span class="link-text">Gestion Tâches</span>
        </a>
      </li>
   

    </ul>
  </nav>


</aside>